@import "tailwindcss";
@plugin "daisyui";

* {
  scrollbar-width: thin;
  scrollbar-color: #EBEA76 transparent;
}

@font-face {
      font-family: 'Clash Display';
      src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Clash Display';
      src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Geist Mono';
      src: url('./fonts/GeistMono-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@theme {
      --font-title: "Clash Display", sans-serif; 
      --font-corpo: "Geist Mono", sans-serif;
}

@media (prefers-color-scheme: light) {
      :root{
            --color-primary: #1d1d1e;       
            --color-secondary: #dedb184f;   
            --color-accent: #EBEA76;   
            --color-base-100: #F8F6EE;      
            --color-error: #e8083E;  
      }
}

@media (prefers-color-scheme: dark) {
      :root {
            --color-primary: #fdfdfe;       
            --color-secondary: #d8d7ad4f;   
            --color-accent: #918f4a;   
            --color-base-100: #1d1d1e;      
            --color-error: #ad1135;     
      }
}



