@import "tailwindcss";
@plugin "daisyui";

* {
  scrollbar-width: thin;
  scrollbar-color: #1968F0 transparent;
}

@font-face {
      font-family: 'Clash Display';
      src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Clash Display';
      src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Geist Mono';
      src: url('./fonts/GeistMono-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@theme {
      --font-title: "Clash Display", sans-serif; 
      --font-corpo: "Geist Mono", sans-serif;
}

@media (prefers-color-scheme: light) {
      :root{
            --color-primary: #000000;       
            --color-secondary: #8ea7d34f;   
            --color-accent: #1968F0;   
            --color-base-100: #f0f1f5;      
            --color-error: #E60F0F;  
      }
}

@media (prefers-color-scheme: dark) {
      :root {
            --color-primary: #f5f5f5;       
            --color-secondary: #aabfe24f;   
            --color-accent: #1968F0;   
            --color-base-100: #171b24;      
            --color-error: #AD0B0B;     
      }
}

@layer components {
  .select-option {
    @apply text-black;
  }
}


