@import "tailwindcss";

@font-face {
      font-family: 'Clash Display';
      src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Clash Display';
      src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Geist Mono';
      src: url('./fonts/GeistMono-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@theme {
  --font-title: "Clash Display", sans-serif; 
  --font-corpo: "Geist Mono", sans-serif;
}